.dog {
  box-shadow: rgba(0, 0, 0, 0.28) 0px 0px 16px 3px !important;
  align-self: center !important;
  border-radius: 0.5rem !important;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1) !important;
}
.dog img {
  max-height: 200px !important;
}

.dog:hover {
  transform: scale(1.1) !important;
}

.dog:hover img {
  max-height: 300px !important;
}
