.favorites-container {
  position: fixed;
  bottom: 4rem;
  left: 1rem;
  z-index: 6 !important;
}

.favorite-button {
  background-color: rgb(48, 13, 56);
  color: white;
  padding: 1rem;
  border-radius: 9999px; /* Circle button */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
  z-index: 6 !important;
}

.favorites-drawer {
  position: fixed;
  bottom: 7.5rem;
  left: 1rem;
  width: 100%; /* Same width as the button */
  max-width: 16rem; /* Set a max width for the drawer */
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1rem;
  transform: translateY(100%); /* Start off-screen */
  opacity: 0; /* Start off invisible */
  visibility: hidden; /* Hidden by default */
  transition: transform 0.3s ease-out, opacity 0.3s ease-out,
    visibility 0.3s ease-out;
  z-index: 4 !important;
}

.favorites-drawer.slide-up {
  transform: translateX(0); /* Move drawer into view */
  opacity: 1; /* Fade in */
  visibility: visible; /* Make it visible */
}

.favorites-drawer.slide-down {
  transform: translateX(-100%); /* Move drawer off-screen */
  opacity: 0; /* Fade out */
  visibility: hidden; /* Hide it */
}

.favorites-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.favorites-list {
  max-height: 300px;
  overflow-y: auto; /* Make the list scrollable if it's too long */
  padding-right: 0.5rem;
}

.favorite-item {
  font-size: 0.875rem;
  color: #4b5563;
  margin-bottom: 0.5rem;
}
